<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WA Crash Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/mapstyle1.css">


</head>

<body style="background-color: aliceblue;">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">WA Crash Dashboard</h1>
      <p class="lead"> Visualising West Australian road crash data</p>
    </div>
</div>

<div class="container-fluid">
  <div class="row summary">
    <!-- <div class="col-6" style="background-color: aquamarine;"> -->
    <div class="col-6">
      <p> Road crashes are a leading cause of death and serious injury in Western Australia, impacting thousands of people every year. 
      </p>
      <p>
       The <i>Western Australian Crash Dashboard</i> is an interactive dashboard exploring road crash data in Western Australia from 2015 to 2019.
      </p>
    </div>
    <!-- <div class="col-6" style="background-color: grey;"> -->
    <div class="col-6">
      <p>
        The aim of the dashboard is to highlight road safety issues and trends, including the geographic location of crashes, when crashes occur (by day of the week and time of day) and a breakdown of crashes by type of vehicle involved.
      </p>
        <p>
        Data has been sourced from the <a href="https://portal-mainroads.opendata.arcgis.com/datasets/cd0b2ef39c6e4e71b1aa922942d316cc_2">Crash Information (Last 5 Years) dataset</a> published by Main Roads Western Australia.
      </p>
      </div>
  </div>
</div>
   <div class="container">
        <div class="h_iframe">
            <iframe  src="map_landing_page.html" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  
</body>

</html>
