.jumbotron{
  background-image: url("https://www.mainroads.wa.gov.au/globalassets/projects-initiatives/projects/regional/project-hero-images/geh-anzac-to-gatacre.jpg");
  background-size: cover;
  background-position-y: 63%;
  height: 100%;
  color: whitesmoke;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  }


.summary {
  /* height: 100px; */
  margin: 25px;
  height: 100%;
  line-height: 1.5;
}

.controls {
  /* height: 100px; */
  margin: 25px;
  height: 100%;
  vertical-align: middle;
}



.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 35px !important;
  max-height: 75vw;
}

table {
  height: 1000px;
}

#filter {
  font-size: 18px;
}

#filter-box label {
  font-size: 24px;
  margin: 10px;
}

#total-crashes {
  font-size: 24px;
}

#filter-box {
  background-color: #dcdcdb;
}


#display-4{
  justify-self: left!important;
}

#lead{
  justify-self: left !important;
}

.card-header {
  font-size: 24px;
  font-weight: lighter !important;
}
.card-title {
  font-size: 24px;
}




.hero h1 {
  margin-top: 250px;
  /* padding: 350px; */
  font-size: 5rem;
  margin-bottom: 100px;
  margin-left: 400px;

  animation: subtitle 0.5s forwards linear;
  color: azure;
}

/* .hero p {
  font-size: 3rem;
  opacity: 0;
  animation: subtitle 1s forwards linear;
  animation-delay: 1s;
  color: rgb(241, 14, 14);
} */

/* The styles for the parallax */
/* .hero1 {
  position: relative;
  height: 600px;
  padding: 20px;
  margin: 0;
  background: black;
  background-color: aquamarine;
  background-position:center;
  background-size: 100% 150%;

}

.hero2 {
  position: relative;
  height: 1000px;
  padding: 20px;
  margin: 0;
  background: black;
  background-color: rgb(248, 246, 239);
  background-position:center;
  background-size: 100% 150%;

}


.hero3 {
  position: relative;
  height: 600px;
  padding: 20px;
  margin: 0;
  background: black;
  background-color: blueviolet;
  background-position:center;
  background-size: 100% 150%;

}
 */

#map
{
  /* position: absolute; */
  top: 0;
  position: relative;
  display : table-cell;
  bottom: 0;
  /* width: 100%; */
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hidden_display
{display: none !important;
}


