<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WA Crash Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"> -->
  <!-- <link rel="stylesheet" href="/static/css/style_template.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  <script src="{{ url_for('static', filename='js/d3/d3.js')}}"></script>
  <script src="{{ url_for('static', filename='js/d3/d3.js')}}"></script>
  <script src="{{ url_for('static', filename='js/d3-balloon.js')}}"></script>

  

</head>

<body style="background-color: aliceblue;">


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">WA Crash Dashboard</h1>
      <p class="lead"> Visualising West Australian road crash data</p>
    </div>
</div>

<div class="container-fluid">
  <div class="row summary">
    <!-- <div class="col-6" style="background-color: aquamarine;"> -->
    <div class="col-6 style=">
      <p> Road crashes are a leading cause of death and serious injury in Western Australia, impacting thousands of people every year. 
      </p>
      <p>
       The <i>Western Australian Crash Dashboard</i> is an interactive dashboard exploring road crash data in Western Australia from 2015 to 2019.
      </p>
      </div>
    <!-- <div class="col-6" style="background-color: grey;"> -->
    <div class="col-6">
      <p>
      The aim of the dashboard is to highlight road safety issues and trends, including the geographic location of crashes, when crashes occur (by day of the week and time of day) and a breakdown of crashes by type of vehicle involved.
    </p>
      <p>
      Data has been sourced from the <a href="https://portal-mainroads.opendata.arcgis.com/datasets/cd0b2ef39c6e4e71b1aa922942d316cc_2">Crash Information (Last 5 Years) dataset</a> published by Main Roads Western Australia.
    </p>

    </div>
  </div>
</div>


<div class="container-fluid" id="filter-box">
  <div class="row controls">
    <!-- <div class="col-6" style="background-color: lightcoral;"> -->
    <div class="col-6">
      <label for="data">Filter by year:</label>
        <select name="data" id="filter" onchange="optionChanged(this.value)">
          <option value=""></option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
        </select>
    </div>
    <!-- <div class="col-6" style="background-color: lightskyblue;"> -->
    <div class="col-6">
      <div id=total-crashes> Total number of crashes: 
      </div>
    </div>
  </div>
</div>      


<div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <table>
          <tr><td style="text-align: center; border: none">
            <iframe class="responsive-iframe" src="\MAP" width=750 height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </td></tr>
        </table>
     </div>
     <div class="col-3">
      <!-- <div class=" card text-white bg-primary mb-3"> -->
        <div class=" card bg-bright mb-3">
        <h5 class="card-header"><b>Vehicle Information</b></h5>
      <!-- <div id="sample-metadata" class="card-title" style="font-family:'Courier New', Courier, monospace; "></div> -->
      <div id="sample-metadata" class="card-title"></div>

    </div>
     </div>

      <!-- <div class="col-6">
          <div id="heatmap">
          </div>
      </div> -->
      
     <!-- </div>   -->
      
    <div class="row">    

      <div class="col-12">
        <div id="heatmap">  </div>
      </div>
    </div>
     
    <div class="row">    

      <div class="col-12">
        <div id="barchart"> </div>
      </div>
    </div>

</div>




<!--  
  <div class="container-fluid bg-info"  >
    <div class="row hero text-center" >
        <h1 >WA Crash Report</h1>
    </div>
      <div class="row hero1 text-center container-fluid">
      <div class="col-md-4 col-xl-4">
        <div class="card text-white bg-success mb-3">
          <h5 class="card-header"><b>Test Subject ID :</b></h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
            <option>Test</option>
          </select>
        </div> -->
        <!-- <div class=" card text-white bg-primary mb-3">
          <h5 class="card-header"><b>Demographic Info</b></h5>
        <div id="sample-metadata" class="card-title" style="font-family:'Courier New', Courier, monospace; "></div>
      </div>
      </div>
      <div class="col-md-8 col-xl-8"> -->
        <!-- <table>
          <tr><td style="text-align: center; border: none">
          <iframe src="\MAP" width="1000" height="600" ></iframe>
          </td></tr>
          </table> -->
      <!-- </div>
    </div> --> 

    <!-- <div class="row hero2 text-center">
      <div class="col-md-12 col-xl-12">
        <div id="Barchart"></div>
      </div>
      <div class="col-md-12 col-xl-12">
        <div id="balloonplot"></div>
      </div>

    </div>
    <div class="row hero3 text-center">
      <div class="col-md-12 col-xl-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div> --> -->
  <div   id="map" class="hidden_display"></div>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/balloon_chart.js')}}"></script>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>

</html>
