* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
}

.navbar {
  padding: 5px;
  margin: 0;
}


.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 0;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  outline: none;
}


.loader {
  margin-top: 50px;
}

.margin-top-20 {
  margin-top: 20px;
}


/* The styles for the parallax */
.hero {
  position: relative;
  height: 600px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("https://nnimgt-a.akamaihd.net/transform/v1/crop/frm/MsXzvxHj8Pa33MjGvfyNDR/5fc32556-27be-4575-aadd-c4a234556ce1.JPG/r0_0_1927_1295_w1200_h678_fmax.jpg");
  background-position:center;
  background-size: 100% 150%;

}

.hero h1 {
  margin-top: 250px;
  /* padding: 350px; */
  font-size: 5rem;
  margin-bottom: 100px;
  margin-left: 400px;

  animation: subtitle 0.5s forwards linear;
  color: azure;
}

.hero p {
  font-size: 3rem;
  opacity: 0;
  animation: subtitle 1s forwards linear;
  animation-delay: 1s;
  color: rgb(241, 14, 14);
}

/* The styles for the parallax */
.hero1 {
  position: relative;
  height: 600px;
  padding: 20px;
  margin: 0;
  background: black;
  background-color: aquamarine;
  background-position:center;
  background-size: 100% 150%;

}

.hero2 {
  position: relative;
  height: 600px;
  padding: 20px;
  margin: 0;
  background: black;
  background-color: goldenrod;
  background-position:center;
  background-size: 100% 150%;

}


.hero3 {
  position: relative;
  height: 600px;
  padding: 20px;
  margin: 0;
  background: black;
  background-color: blueviolet;
  background-position:center;
  background-size: 100% 150%;

}



/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
